<div class="rad">
  <div class="radiusLabel">
    <label>Please Enter The Radius :</label>
  </div>
  <input type="text" #inputRadius class="inputField">
  <input type="button" value="submit" (click)="setRadius(inputRadius.value)" class="inputSubmit">
</div>
<agm-map [latitude]="currentPos.lat" [longitude]="currentPos.lng" [zoom]="zoom" [disableDefaultUI]="false"
  [zoomControl]="true">
  <agm-marker [iconUrl]="currentPos.markerURL" (markerClick)="fetchMarkerDetails(currentPos, 'user')"
    [animation]="'DROP'" [latitude]="currentPos.lat" [longitude]="currentPos.lng">
    <agm-info-window>
      <div>{{currentPos.address}}</div>
    </agm-info-window>
  </agm-marker>
  <agm-marker [iconUrl]="point.markerURL" (markerClick)="fetchMarkerDetails(point, 'truck', i)" [animation]="'DROP'"
    *ngFor="let point of points; index as i" [latitude]="point.lat" [longitude]="point.lng">
    <agm-info-window>
      <div>{{point.locationId}}</div>
    </agm-info-window>
  </agm-marker>
  <!-- <agm-polyline strokeColor="red">
    <agm-polyline-point *ngFor="let point of points" [latitude]="point.lat" [longitude]="point.lng">
    </agm-polyline-point>
  </agm-polyline> -->
  <agm-circle [latitude]="currentPos.lat" [longitude]="currentPos.lng" [radius]="radius" [fillColor]="'#A7C7E7'"
    [fillOpacity]="0.7" [circleDraggable]="false" [editable]="false">
  </agm-circle>

</agm-map>