agm-map {
    height: 100vh;
}

* {
    font-family: Lato;
}

a {
    color: darkblue;
}

.rad{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.radiusLabel {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.inputField {
    height: 0.7cm;
    width: 6cm;
}

.inputSubmit {
    margin-left: 10px;
    height: 0.8cm;
    width: 1.5cm;
    background-color: cornflowerblue;
    // text-emphasis-color: white;
}